/*
    Edit me.
*/


input:invalid {
    border: .1em solid red;
  }

input:valid {
    border: .1em solid black;
}

.match-indicator {
    border: 1px solid black;
    fill-opacity: 0;
    margin-right: 5px;
}

.error-msg {
    color: red;
    font-size: 16px;
}

.sucess-msg, .winner-container {
    color: green;
    font-size: 16px;
}